/*Start global styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

p, blockquote{
	font-size: 1.6rem;
}

img{
	width: 100%
	max-width:100%;
	height: auto;
}

section{
	padding: 5rem 0;
}

/*End global styles*/

/*Start header */
header{
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav{
	width: 100%;
	height: 5.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom:1px solid rgba(255,255,255,0.2);
	margin-top: 1rem;
}

.nav-brand a img{
	width: 3.2rem;
}

.menu-icons i{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}

.close i{
	color: #eb648c;
}

.nav-list{
	width: 25rem;
	height: 100vh;
	background-color: #d7d4ed;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}

.sub-menu{
	width: 13rem;
	height: 20rem;
	display: block;
	z-index: 100;
	opacity: 1;
	visibility:visible;
	position: relative;
}




.sub-menu li{
	font-size: 1.1rem;
	height: 2rem;
	text-transform: uppercase;
	color: rgb(255,255,255);
	padding-left: 1rem;

}

.nav-list.active{
	right: 0;
}

.close{
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}

.nav-item{
	margin:1rem 0;
	justify-content: center;
	position: relative;
}

.flex{
	justify-content: space-between;
}

.nav-link{
	font-size: 1.4rem;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7); 
}
/*End header */

/*Start landing-page*/
.landing-page{
	width: 100%;
	height: 100vh;
	background:linear-gradient(135deg, rgba(18, 10, 143,0.8) 0%, rgba(12,40,120,0.9) 100%), url(images/main2.jpg) left no-repeat;
	position: relative;
	background-size: cover;
}

.landing-page::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 4.7rem;
	background: url(images/wave-small.png) center no-repeat;
	background-size: cover;
}

.main-message{
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	text-transform: uppercase;
	text-align: right;
	position: absolute;
	top: 45%;
	right: 10%;
}

.main-message span{
	font-size: 1.4rem;
}

.main-message h1{
	font-family: "Aldrich", sans-serif;
	font-size: 3rem;
	margin: 1rem 0;
}

.main-message p{
	text-transform: none;
	text-align: right;
	padding: 0 0 0 10rem;
}

.btn{
	background-color: #eb648c;
	border-radius: 2rem;
	color: #fafafa;
	display: inline-block;
	margin-top: 2rem;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: background-color 650ms;
}

.btn:hover{
	background-color: #ce587b;
}
/*End landing-page*/

/*Start o praktyce*/
.o-praktyce{
	padding: 0;
}

.title-heading{
	text-align: center;
	text-transform: uppercase;
	margin: 5rem 0 10rem 0;
	color: rgba(0,0,0,0.7);
}

.secound-heading{
	margin:-5rem 0 5rem 0;
}

.title-heading h3{
	font-size: 1.4rem;
}

.title-heading h1{
	font-family:'Aldrich', sans-serif;
	font-size: 2rem;
	margin: 0.5rem 0 1rem;
}

/* CZY POTRZEBNE?
.title-heading p{
	text-transform: lowercase;
} */

.title-heading blockquote{
	text-transform: none;
}


.title-heading i{
	position: relative;
	font-size: 8rem;
	color: #eb648c;
	opacity: 0.5;
	z-index: 100;
}
.title-heading div{
	position: relative;
	font-size: 8rem;
	color: #eb648c;
	opacity: 0.8;
	z-index: 100;
}
.start{
	transform: scaleY(-1) rotate(180deg);
}
/*End o praktyce*/

/*start gabinet*/
.gabinet-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	grid-gap: 2.5rem;
	justify-content: center;
	
}

.gabinet-grid-item{
	height: 40rem;
	padding: 5rem 9rem;
	color: #fafafa;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	text-align: left;
	z-index: 1;
}

.stargard-img:hover,
.szczecin-img:hover{
	opacity: 0.9;
	transition: 650ms;
}

.gabinet-grid-item::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(18, 10, 143,0.8) 0%, rgba(12,40,120,0.9) 100%);
	z-index: -1;
}

.stargard-img{
	background: url("images/sample4.jpg") center no-repeat;
}

.szczecin-img{
	background: url("images/sample3.jpg") center no-repeat;
}


.gabinet-grid-item i{
	font-size: 4rem;
	color: #eb648c;
}

.gabinet-grid-item h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}
/*End gabinet*/


/*Start footer*/
footer{
	width: 100%;
	height: 84vh;
	background:linear-gradient(135deg, rgba(18, 10, 143,0.8) 0%, rgba(12,40,120,0.9) 100%);
	background-size: cover;
	position: relative;
}

footer::before{
	content: "";
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 4.7rem;
	background: url("images/wave-small-reversed.png") center no-repeat;
	background-size: cover;
}
/*start footer queries big*/
.footer-grid{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 5rem 0 6rem 0;
	width: 100%;
	color: #fafafa;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem,30rem));
	column-count: 3;
	justify-content: center;
	
}

.footer-grid-item{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 1rem;
	justify-content: center;
}

.footer-grid-item img{
	height: 4rem;
}

.footer-grid div>h3{
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	text-transform: uppercase;
	font-family: "Aldrich", sans-serif;
	font-size: 2.8rem;
}

.footer-grid div>h3>span{
	font-size: 1.2rem;
}

.footer-grid-item i{
	font-size: 2rem;
	color: #eb648c;
}

/*end footer queries big*/
.footer-text{
	background-color: #cccccc;
	height: 4rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer-text p{
	font-size: 1.2rem;
	margin: 1rem 0;
	text-align: center;
}
/*End footer*/


/*Start Media quaries*/
@media screen and (min-width: 350px){
	.main-message{
		transform: translateY(40%);
	}
}

@media screen and (min-width: 470px){
	.landing-page::before{
		height: 9.4rem;
		background:url(images/wave-medium.png);
		background-size: cover;
	}
	footer::before{
		height: 9.4rem;
		background:url(images/wave-medium-reversed.png);
		background-size: cover;
	}
}

@media screen and (min-width: 700px){
	header{
		height: 8rem;
	}

	.sub-menu li{
	height: 4rem;
	}

	.sub-menu{
	margin-top: -10rem;
	width: 12rem;
	background-color: rgba(255,255,255,0.2);
	display: block;
	position: absolute;
	z-index: 100;
	top:16rem;
	opacity: 0;
	visibility:hidden;
	}

	.nav-item:hover > .sub-menu{
	visibility: visible;
	opacity: 1;
	position: absolute;
	}

	.nav-brand{
		width: 3.5rem;
	}

	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}

	.nav-list li{
		line-height: 8rem;
	}

	.menu-icons{
		display: none;
	}

	.nav-item{
		margin: 0 1.5rem;
	}

	.nav-link{
		color: #fafafa;
		position: relative;
		font-size: 1.2rem;
	}

	.sub-menu-link{
		color: rgba(255,255,255,0.9);
		position: relative;
		font-size: 1rem;
	}


	.nav-link::before,
	.sub-menu-link::before{
		content:"";
		position: absolute;
		left: 0;
		bottom: -0.5rem;
		background-color: #eb648c;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 650ms;
	}


	.nav-link:hover::before,
	.sub-menu-link:hover::before{
		transform: scaleX(1);
	}

	.landing-page{
		height: 60vh;
	}

	.main-message{
		transform: translateY(50%);
	}

	.title-heading h1{
		font-size: 2.5rem;
	}

}

@media screen and (min-width:950px){
		.sub-menu{
			width: 14rem;
			height: 20.2rem;
			background-color: rgba(255,255,255,0.15);
		}

		.nav-link{
			font-size: 1.4rem;
		}

		.sub-menu-link{
			font-size: 1.2rem;
		}

		.landing-page{
			height: 80vh;
		}

		.landing-page::before{
		height: 22.7rem;
		background:url(images/wave-large.png);
		background-size: cover;
	}
	footer::before{
		height: 22.7rem;
		background:url(images/wave-large-reversed.png);
		background-size: cover;
	}

	/*start footer queries big CoŚ USuŃ*/
	footer{
		height: 50vh;
	}
	.footer-grid{
		bottom: 0;
		left: 5rem;
		margin: 3.5rem 5rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem,31rem));
		column-count: 4;
		grid-gap: 2rem;
		
	}

	.footer-grid-item{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 1rem;
		justify-content: center;
	}

	.footer-grid-item img{
		height: 4rem;
	}

	.footer-grid div>h3{
		width: 100%;
		max-width: 50rem;
		color: #fafafa;
		text-transform: uppercase;
		font-family: "Aldrich", sans-serif;
		font-size: 2.8rem;
	}

	.footer-grid div>h3>span{
		font-size: 1.2rem;
	}

	.footer-grid-item i{
		font-size: 2rem;
	}

/*end footer queries big*/
}

@media screen and (min-width:1200px){
		.landing-page{
			height: 100vh;
		}
}
/*rozwiązuje problem białego paska po prawej na mobilkach*/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
	html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
/*rozwiązuje problem białego paska po prawej na mobilkach*/